<footer>

  <div class="socialniSite">
    <p>
      Sdílejte tento projekt a
      <span>#zachranteKamarada</span>
    </p>
    <div class="odkazy">
      <a title="Instagram - NajdiMazlíčka.cz" href="https://instagram.com/najdimazlicka">
        <img src="assets/img/instagram.png" alt="Instagram NajdiMazlíčka">
      </a>
      <a title="Facebook - NajdiMazlíčka.cz" href="https://www.facebook.com/najdimazlicka.cz">
        <img src="assets/img/facebook.png" alt="Facebook NajdiMazlíčka">
      </a>
      <a title="Youtube - NajdiMazlíčka.cz" href="https://www.youtube.com/channel/UCTWLg7f9lhBFGqO8i1rkt5Q">
        <img src="assets/img/youtube.png" alt="Youtube NajdiMazlíčka">
      </a>
    </div>
  </div>

  <div class="properFooter">
    <span>Copyright © 2019 PalmMedia s.r.o.</span>
    <a title="Všeobecné obchodní podmínky" href="/vseobecne_obchodni_podminky">Všeobecné obchodní podmínky</a>
    <a title="Podmínky ochrany osobních údajů" href="/zpracovani_osobnich_udaju">Podmínky ochrany osobních údajů</a>
    <a title="E-mail na nás" href="mailto:jiri@palmmedia.cz">Kontakt: jiri@palmmedia.cz</a>
    <br>
    <a title="5 věcí, které je třeba udělat, když se Vám ztratí pes" href="https://medium.com/@najdimazlicka/5-věc%C3%AD-které-je-třeba-udělat-když-se-vám-ztrat%C3%AD-pes-58cb96b48775">Co dělat, když se Vám ztratí pes</a>
    <a title="5 věcí, které je třeba udělat, když se Vám ztratí kočka" href="https://medium.com/@najdimazlicka/5-věc%C3%AD-které-je-třeba-udělat-když-se-vám-ztrat%C3%AD-kočka-75aaeb47d004">Co dělat, když se Vám ztratí kočka</a>
    <div class="karty">
      <img src="assets/img/karty1.png" alt="platba kartou">
      <img src="assets/img/karty2.png" alt="platba kartou">
      <img src="assets/img/karty3.png" alt="platba kartou">
      <img src="assets/img/karty4.png" alt="platba kartou">
      <img src="assets/img/karty5.png" alt="platba kartou">
      <img src="assets/img/karty6.png" alt="platba kartou">
      <img src="assets/img/karty7.png" alt="platba kartou">
    </div>
  </div>

  <div class="pozadi"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script>
  new WOW().init();
  </script>
  <script src="assets/js/odometer.min.js"></script>
  <script src="assets/slick/slick.js" type="text/javascript" charset="utf-8"></script>
  <script src="assets/js/app.js"></script>
</footer>
