<div class="mobilniMenu">
  <a title="Domů" class="logo" href="/">
    <img src="assets/img/logo.png" alt="Logo najdiMazlíčka">
  </a>
  <nav>
    <ul>
      <li>
        <a title="Jak to funguje?" href="#jakToFunguje">Jak to funguje?</a>
      </li>
      <li>
        <a title="Co říkají ostatní?" href="#reference">Co říkají ostatní?</a>
      </li>
      <li>
        <a title="Cenové balíčky" href="#cenoveBalicky">Cenové balíčky</a>
      </li>
      <li>
        <a title="Často kladené otázky" href="#faq">Často kladené otázky</a>
      </li>
      <li class="telefon">
        <img src="assets/img/telefon.png" alt="ikona telefon">
        <a title="Zavolejte nám" href="tel:00420605176305">+420 605 176 305</a>
      </li>
    </ul>
  </nav>
  <img class="mobilniMenuZavrit" src="assets/img/zavrit.png" alt="ikona zavřít">
</div>

<header class="wow fadeIn">
  <a title="" class="logo" href="/">
    <img src="assets/img/logo.png" alt="Logo najdiMazlíčka">
  </a>
  <nav>
    <ul>
      <li>
        <a title="Jak to funguje?" href="#jakToFunguje">Jak to funguje?</a>
      </li>
      <li>
        <a title="Co říkají ostatní?" href="#reference">Co říkají ostatní?</a>
      </li>
      <li>
        <a title="Cenové balíčky" href="#cenoveBalicky">Cenové balíčky</a>
      </li>
      <li>
        <a title="Často kladené otázky" href="#faq">Často kladené otázky</a>
      </li>
      <li class="telefon">
        <img src="assets/img/telefon.png" alt="ikona telefon">
        <a title="Zavolejte nám" href="tel:00420605176305">+420 605 176 305</a>
      </li>
    </ul>
  </nav>
  <img class="mobilniMenuOtevrit" src="assets/img/menu.png" alt="ikona menu">
</header>
