<div class="mobilniMenu">
  <a title="Domů" class="logo" href="/">
    <img src="assets/img/logo.png" alt="Logo najdiMazlíčka">
  </a>
  <nav>
    <ul>
      <li>
        <a title="Statistiky" href="/#statistiky">Statistiky</a>
      </li>
      <li>
        <a title="Jak to funguje?" href="/#jakToFunguje">Jak to funguje?</a>
      </li>
      <li>
        <a title="Detailnější vysvětlení" href="/#jakToFunguje2">Detailnější vysvětlení</a>
      </li>
      <li>
      <li>
        <a title="Co říkají ostatní?" href="/#reference">Šťastné konce</a>
      </li>
      <li>
        <a title="Cenové balíčky" href="/#cenoveBalicky">Kolik to stojí?</a>
      </li>
      <li>
        <a title="Často kladené otázky" href="/#faq">Často kladené otázky</a>
      </li>
      <li class="telefon">
        <img src="assets/img/telefon.png" alt="ikona telefon">
        <a title="Zavolejte nám" href="tel:00420605176305">+420 605 176 305</a>
      </li>
    </ul>
  </nav>
  <img class="mobilniMenuZavrit" src="assets/img/zavrit.png" alt="ikona zavřít">
</div>

<header class="">
  <div class="headerInner">
    <a title="" class="logo" href="/">
      <img src="assets/img/logo.png" alt="Logo najdiMazlíčka">
    </a>
    <nav>
      <ul>
        <li>
          <a title="Jak to funguje?" href="/#jakToFunguje">Jak to funguje?</a>
        </li>
        <li>
          <a title="Co říkají ostatní?" href="/#reference">Šťastné konce</a>
        </li>
        <li>
          <a title="Cenové balíčky" href="/#cenoveBalicky">Kolik to stojí?</a>
        </li>
        <li>
          <a title="Často kladené otázky" href="/#faq">Často kladené otázky</a>
        </li>
        <li class="telefon">
          <img src="assets/img/telefon.png" alt="ikona telefon">
          <a title="Zavolejte nám" href="tel:00420605176305">+420 605 176 305</a>
        </li>
      </ul>
    </nav>
    <img class="mobilniMenuOtevrit" src="assets/img/menu.png" alt="ikona menu">
  </div>
</header>
